#main-content {
  padding: 10px;
  border: 1px solid orange;
  width: 90%;
  margin-top: 100px;
<<<<<<< HEAD
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;

}

h1 {
	text-align: center;
}

form {
	margin: auto;
	width: 70%;
}

label {
	margin-top: 10px;
}

input {
  background-color: orange;
  font-size: 24px;
  height: 36px;
  border-radius: 5px;
	color: blue;
	
}


#submit-button {
	margin: 20px 0 0;
  background-color: orange;
  color: blue;
=======

}

input {
  background-color: orange;
}


button {
	margin: 20px 0 0;
  background-color: orange;
>>>>>>> upstream/master
}
