#main-content {
  padding: 10px;
  border: 1px solid orange;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}

input {
  background-color: orange;
}

#deliverer-info {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid orange;
	padding: 10px;

}

#search-orders {
	margin-top: 20px;
	margin-bottom:20px;

	width: 100px;
	height: 34px;
	background-color: orange;
	font-size: 24px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	height: 60px;
	background-color: orange;
	font-size: 24px;
	border-radius: 5px;
}

#display-orders {
	margin-top: 20px;
	margin-bottom:20px;
	border: 1px solid orange;
	padding: 10px;

}





.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


