h1 {
	text-align: center;
}

section {
	margin: 10px;
	padding: 10px;
	border: 1px solid orange;
}

#queries {
	margin-top: 10px;
	padding: 10px;

	height: 90%;
	width: 90%;

}

#queries button {
	width: 500px;
	height: 35px;
	font-size: 20px;
	color: black;
	background-color: orange;

	margin-top: 5px;
	
}

#output {
	height: 500px;
	overflow: scroll;
}