#main-content {
  padding: 10px;
  border: 1px solid orange;
  width: 90%;
  margin-top: 100px;
<<<<<<< HEAD:Part2/a4p2/static/css/deliveryProfile.css
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
=======
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;


>>>>>>> 9d772f29b71744989e04e53b9e2e76add8bd8248:Part1/a4p1/deliveryProfile.css
}

input {
  background-color: orange;
}

#deliverer-info {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid orange;
	padding: 10px;

}

#order-selection {
	width: 25%;
}

#search-orders {
	margin-top: 20px;
	margin-bottom:20px;

	width: 100px;
	height: 34px;
	background-color: orange;
	font-size: 24px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
<<<<<<< HEAD:Part2/a4p2/static/css/deliveryProfile.css

=======
>>>>>>> 9d772f29b71744989e04e53b9e2e76add8bd8248:Part1/a4p1/deliveryProfile.css
}


#display-orders {
	margin-top: 20px;
	margin-bottom:20px;
	border: 1px solid orange;
	padding: 10px;

}

<<<<<<< HEAD:Part2/a4p2/static/css/deliveryProfile.css
=======
/* Prevents clickability/draggability */
>>>>>>> 9d772f29b71744989e04e53b9e2e76add8bd8248:Part1/a4p1/deliveryProfile.css
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


