.jumbotron h1, h2, p, div, label, input {
	color: black;
	margin: 0px;
}

.jumbotron .container-fluid {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}

img {
	float: right;
	display: block;
}


