.jumbotron h1, h2, p, div, label, input, a {
	color: black;
	margin: 0px;
}

.jumbotron .container-fluid {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}

#logout {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px orange;
  width: 100px;
  background-color: rgba(150, 230, 220, 0.8);
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: black;
}

#logout:hover {
  background-color: rgba(150, 100, 150, 0.8);
}

#submit-button {
	margin-top: 10px;
	background-color: rgba(150, 230, 220, 0.8);
}

#submit-button:hover {
	background-color: rgba(150, 100, 150, 0.8);
}

#order-form input {
	width: 50%;
}

.orderEntry {
	background-color: rgba(150, 100, 150, 0.8);
}





